@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --main-color: rgb(207,181,59);
}

body {
    font-family: 'merriweather';
    color: white;
    background-color: black;
}

h3 {
    font-size: 18px;
}

footer {
    text-align: center;
    margin: 18px;
}
.logo {
    max-width: 30%;
}

@media (max-width:900px) {
    .logo {
        max-width: 20%;
    }
}

.navbar-size {
    max-width: 250px;
}

.main-title {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    color: var(--main-color);
    text-shadow: 1.5px 2.5px white;
    font-weight: bold;
}

.homepage-image {
    margin-top: 20px;
}

.card {
    margin: 20px;
}

.main-button {
    background-color: var(--main-color);
    margin-top: 20px;
}

.main-button:hover {
    background-color: rgb(0, 0, 0);
    color: var(--main-color);
    border: 2px solid;
    border-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.contact-informations {
    font-size: 12px;
    padding: 20px;
}

.our-story-container {
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.687);
}

.photo-gallery {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(1, 1fr 1fr);
    grid-gap: 20px;
}

.photo-gallery-img {
    width: 100%;
    border-radius: 10px;
}