@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'merriweather';
    color: white;
    background-color: black;
}

h1 {
    margin: 30px
}

h3 {
    font-size: 18px;
}

footer {
    text-align: center;
    margin: 20px;
}

.card {
    margin: 20px;
    width: 80%;
}

.main-button {
    background-color: rgb(255,215,0);
}

