@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --main-color: rgb(207,181,59);
}

body {
    font-family: 'merriweather';
    color: white;
    background-color: black;
}


h3 {
    font-size: 18px;
}
h5 {
    color: var(--main-color);
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.760);
    font-weight: bold;

}

footer {
    text-align: center;
    margin: 18px;
}
.logo {
    max-width: 30%;
}

@media (max-width:900px) {
    .logo {
        max-width: 20%;
    }
}

.navbar-size {
    max-width: 250px;
}

.main-title {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    color: var(--main-color);
    text-shadow: 1.5px 1.5px white;
    font-weight: bold;
}

.homepage-image {
    margin-top: 20px;
}

.card {
    margin: 20px;
}

.main-button {
    background-color: var(--main-color);
    margin-top: 20px;
}

.main-button:hover {
    background-color: rgb(0, 0, 0);
    color: var(--main-color);
    border: 2px solid;
    border-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 100ms ease-in-out;
    
}

.contact-informations {
    font-size: 12px;
    padding: 20px;
}

.our-story-container {
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.687);
}


.our-story-text {
    text-align: center;
    margin-top: 10px;
   
}

.savethedate-title {
    font-size: 60px;
    text-align: center;
    color: var(--main-color);
    text-shadow: 2.5px 2.5px 6px rgba(0, 0, 0, 0.760);
    font-weight: bold;
}

.savethedate-text {
    margin-top: 90px;

}

.savethedate-info {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}


@media (max-width: 800px) {
    .savethedate-title {
        font-size: 35px;
        text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.760);
    }

    .savethedate-text {
        margin-top: 15px;
    }

    .savethedate-info {
        margin-top: 10px;
    }
}

.photo-gallery {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(1, 1, 1fr 1fr);
    grid-gap: 20px;
}

.photo-gallery-img {
    width: 100%;
    border-radius: 10px;
}

.photo-gallery-img:hover {
    transform: scale(1.1);
}